:root {
  --darkBG: #0d2436;
  --extradarkBG: #081926;
  --white: #ffffff;
  --buttonBG: #009b86;
  --cardBG: #2d4c64;
  --cardhoverBG: #4d7491;
  --hoverBG: #34ac9c;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
img,
div {
  vertical-align: middle;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkBG);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
